<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Nova Notícia - NewsStream</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <div class="container-form">
        <div class="dashboard-header">
            <h1>Criar Nova Notícia</h1>
        </div>

        <div class="news-form">
            <form action="/salvar-noticia" method="POST">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" required>

                <label for="autor">Autor:</label>
                <input type="text" id="autor" name="autor" required>

                <label for="categoria">Categoria:</label>
                <select id="categoria" name="categoria">
                    <% categorias.forEach(cat => { %>
                        <option value="<%= cat %>"><%= cat %></option>
                    <% }); %>
                </select>

                <label for="conteudo">Conteúdo:</label>
                <textarea id="conteudo" name="conteudo" rows="5" required></textarea>

                <label for="imagem">URL da Imagem:</label>
                <input type="text" id="imagem" name="imagem" placeholder="Ex: /images/Politicaa.jpg">

                <button type="submit" class="save-button">Salvar Notícia</button>
            </form>
        </div>
    </div>

</body>
</html>